<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />

    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

  <body>


      <div class="uk-position-relative">
          <img src="https://source.unsplash.com/random/1920x1080" alt="">
          <div class="uk-position-top">
              <nav class="uk-navbar-container" uk-navbar>

                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                      <li class="uk-active"><a class="uk-navbar-item uk-logo" href="#"><span><span uk-icon="icon: happy; ratio: 2"></span></span>family_counter</a></li>
                      <li class="uk-parent"><a href=""></a></li>
                      <li><a href=""></a></li>
                    </ul>
                </div>



                  <div class="uk-navbar-right">
                      <ul class="uk-navbar-nav">
                          <li>
                              <a href="#"><span uk-icon="icon: users"></span> Accounts</a>
                              <div class="uk-navbar-dropdown">
                                  <ul class="uk-nav uk-navbar-dropdown-nav">
                                      <li><a href= {% url 'user_login' %}><span uk-icon="icon: sign-in"></span> Log In</a></li>
                                      <li><a href= {% url 'register' %}><span uk-icon="icon: plus"></span> SIgn Up</a></li>
                                  </ul>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>

  </body>

</html>
