<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />

    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

  <body>
    <div class="uk-panel uk-panel-box">
      <h2>Naslov</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sem pretium, dapibus nisi vitae, pretium urna. Quisque id elementum dolor, at aliquet lectus. Aenean maximus arcu vitae neque vulputate, a efficitur felis laoreet. Vestibulum eget turpis molestie, tincidunt eros quis, fringilla dui. Fusce lectus orci, pellentesque in suscipit non, tristique vel massa. Donec sit amet cursus eros. Integer dignissim metus sed mattis sagittis. Donec porttitor tellus dui, ut placerat risus interdum vitae. Praesent semper egestas erat ac ornare. Sed metus erat, sollicitudin a dui sodales, fringilla egestas justo. Etiam sit amet diam nulla. Ut eu hendrerit ante. Quisque nec dui sit amet felis vehicula gravida vitae in orci. Morbi nisl enim, semper a magna ut, porta posuere enim. Nulla consequat vulputate arcu ac ultrices.

  Etiam eget vehicula ipsum, quis blandit mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin euismod dictum. In laoreet ornare justo, at gravida arcu finibus eget. Curabitur porta convallis ligula, vel fringilla sapien luctus sit amet. Maecenas tempor iaculis est, eget sagittis magna consectetur vel. Praesent vehicula quis sem a bibendum. Donec eget odio fringilla, ultricies sapien sed, consequat lacus. Nulla lobortis vulputate congue. Phasellus viverra odio convallis mi iaculis, nec euismod massa porttitor. Cras et tempus lorem.</p>
    </div>
  </body>

</html>
